.nav{
    color: darkslategray;
    margin:auto;
 font-family: Georgia, 'Times New Roman', Times, serif;
margin: auto;
height: 100%;
}

div#list{

background-color: cornsilk;
max-height: calc(vh100);
}
.nav li a {

font-size: 22px;
font-weight: bolder;
text-decoration: none;

}